<head>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
	<div class="full-screen">
		<div class="question-container">
			<!-- header -->
			<div class="header">
				<h1>Fahrschule</h1>
			</div>
			<!-- home -->
			<div class="body home">
				<div class="content">
					<!-- ICI BREVE PRESENTATION -->
					<center>
						<img src="dmv.png" class="logo">
						<br>
						<p class="bold-text">Willkommen in der Fahrschule
					</center>
					<br>
					<center> Alle Bürger von Los Santos müssen ihre Prüfung bestehen, bevor sie fahren können.
						<br> Nehmen Sie sich Zeit, antworten Sie mit gesundem Menschenverstand und antworten Sie nicht zufällig.
						<br>
						<br> Theorie-Test
						<br> - Der Theorie-Test kostet 200 US-Dollar. Dies wird nicht erstattet, wenn Sie den Test nicht bestehen.
						<br> - Hab keine Angst, die Fahrschule akzeptiert Kredite, aber pass auf, dass du keine Schulden machst.
						<br> - Wenn Sie Ihren Test zum ersten Mal nicht bestehen, können Sie ihn nicht sofort wiederholen. Sie müssen ihn zu einem späteren Zeitpunkt wiederholen
						Datum.
						<br>
						<br> Fahrprüfung
						<br> - Der Fahrversuch kostet 500 US-Dollar, genau wie der theoretische Test. Diese Zahlung wird nicht zurückerstattet, wenn Sie nicht bestehen.
						<br> - Achten Sie darauf, dass Sie während der Fahrt wachsam bleiben und Unfälle vermeiden! </p>
					</center>
				</div>
				<div class="buttonspot">
					<a href="#" class="button btnQuestion">Start</a>
				</div>
				<div class="barre-progression">
					<h2>Fortschritt</h2>
					<progress class="progression" value="0" max="10">
				</div>
			</div>
			<!-- Question-->
			<div class="body questionnaire-container">
				<div class="content">
					<h2 id="questionNumero"></h2>
					<p id="question"></p>
					<form class="form" id="question-form">
						<div>
							<input type="radio" name="question" id="answerA" value="A">
							<label class="answerA"></label>
						</div>
						<div>
							<input type="radio" name="question" id="answerB" value="B">
							<label class="answerB"></label>
						</div>
						<div>
							<input type="radio" name="question" id="answerC" value="C">
							<label class="answerC"></label>
						</div>
						<div>
							<input type="radio" name="question" id="answerD" value="D">
							<label class="answerD"></label>
						</div>
						<button type="submit" id="submit" class="submit">Nächste Frage</button>
					</form>
				</div>
				<div class="barre-progression">
					<h2>Fortschritt</h2>
					<progress class="progression" value="0" max="10">
				</div>
			</div>
			<!-- Results -->
			<div class="body resultGood">
				<div class="content">
					<center>
						<p class = "fett-text"> Gute Arbeit! </p>
						<br>
						<br> Sie haben sich während der Prüfung gut geschlagen.
						<br>
						<br> Sie können dieses Fenster schließen und Ihre Straßentests durchführen.
					</center>
				</div>
				<div class="buttonspot">
					<a href="#" class="button btnClose">Beenden</a>
				</div>
				<div class="barre-progression">
					<h2>Fortschritt</h2>
					<progress class="progression" value="10" max="10">
				</div>
			</div>
			<div class="body resultBad">
				<div class="content">
					<center>
						<p class="bold-text">Nicht bestanden</p>
						<br>
						<br>Sie waren nicht bereit für diesen Test, versuchen Sie es später noch einmal ...
						<br>
						<br>
					</center>
				</div>
				<div class="buttonspot">
					<a href="#" class="button btnKick">Beenden</a>
				</div>
				<div class="barre-progression">
					<h2>Fortschritt</h2>
					<progress class="progression" value="10" max="10">
				</div>
			</div>
		</div>
	</div>

	<script src="nui://game/ui/jquery.js" type="text/javascript"></script>
	<script src="questions.js" type="text/javascript"></script>
	<script src="scripts.js" type="text/javascript"></script>
	<script src="debounce.min.js" type="text/javascript"></script>

</body>