html {
    overflow: hidden;
}

p {
    margin: 0 !important;
}

.bg {
    background-image: url("https://cdn.discordapp.com/attachments/372339524552097792/512668225557757972/bodyBG.png");
    font-size: 18px;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.oben {
    height: 10%;
    width: 100%;
    background-color: rgba(9, 222, 154, 0.8);
    left: 0%;
    top: 0%;
    color: rgb(159, 38, 47);
    text-align: center;
    padding-top: 1.5%;
    font-size: 30px;
    position: absolute;
    overflow: hidden;
    border-bottom: 3px solid;
    border-color: rgba(0, 0, 0, 0.8);
  }
.HDL {
      float: left;
      color: rgb(0, 0, 0);
      text-align: left;
      font-size: 30px;
      padding-left: 1.5%;
      padding-right: 35%;
}
.HDL2 {
    float: left;
    color: #000000;
    text-align: center;
    font-size: 30px;
    padding-left: 1.5%;
    padding-right: 26%;
}
.HDL3 {
	position: absolute;
	padding-right: 1.5%;
    right: 0;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 30px;
}
  .unten {
    height: 10%;
    width: 100%;
    background-color: rgb(42, 42, 52);
    left: 0%;
    top: 91%;
    font: 25px Nexab, sans-serif;
    color: white;
    text-align: center;
    position: absolute;
    overflow: hidden;
    border-color: rgb(42, 42, 52);
  }
.weiß {
    background-color: rgba(1, 9, 30, 0.0);
    font-size: 18px;
    background-size: cover;
    position: absolute;
	width: 100%;
    height: 90%;
    top: 10%;
	overflow: hidden;
}
.main-container {
    display:none;
    width: 100%;
    position: relative;
    top: 0%;
}
.character-container {
    width: 80%;
    height: 54%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
}
.character-box {
    background: rgba(255, 255, 255, 1.0);
	box-shadow: 10px 10px 15px silver;
    color: #2c3345;
    padding: 10px;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 2px;
    margin-top: 15%;
    width: 20%;
}
.character-box:hover {
    background-color: rgb(9, 222, 154); 
    color: #fff;
}
.character-box:active {
    background-color: rgb(42, 42, 52);  
    color: #fff;
}
.character-fullname {
    border-bottom: 3px solid;
    border-color: rgba(0, 0, 0, 0.8);
    padding-bottom: 5px;
}
.h3 .fas fa-plus {
    color: #fff;
}
.character-info {
    text-align: left!important;
}

.character-buttons {
    display:none;
    width: 100%;
    position: relative;
    top: 0%;
}


.active-char {
    border: 2px solid #fe8b30;
}

.btn-delete {
    float: left;
    font-size: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    background-color: rgba(0,0,0,0);
    color: #fff;
    text-align: center;
    width: 270px;
    font-weight: bold;
    padding: 20px 10px;
    border: 3px solid #fe8b30;
    color: #2c3345;
    border-radius: 2px;
    position: relative;
    z-index: 2;
    margin-top: 4%;
  }
  .btn-delete:before {
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #fe8b30;
    color: #fff;
    z-index: -1;
  }
  .btn-delete:hover:before {
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
  }
  .btn-delete:focus:before {
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
  }
  
  .btn-play {
      float: left;
      background-color: rgba(0,0,0,0);
      font-size: 24px;
      letter-spacing: 2px;
      text-transform: uppercase;
      display: inline-block;
      text-align: center;
      width: 270px;
      font-weight: bold;
      padding: 2    0px 10px;
      border: 3px solid #4ED84C;
      color: #2c3345;
      border-radius: 2px;
      position: relative;
      z-index: 2;
      margin-right: 7.5%;
      margin-left: 32%;
      margin-top: 4%;
    }
    .btn-play:before {
      -webkit-transition: 0.5s all ease;
      transition: 0.5s all ease;
      position: absolute;
      top: 0;
      left: 50%;
      right: 50%;
      bottom: 0;
      opacity: 0;
      content: '';
      background-color: #4ED84C;
      color: #fff;
      z-index: -1;
    }
    .btn-play:hover:before {
      -webkit-transition: 0.5s all ease;
      transition: 0.5s all ease;
      left: 0;
      right: 0;
      opacity: 1;
    }
    .btn-play:focus:before {
      -webkit-transition: 0.5s all ease;
      transition: 0.5s all ease;
      left: 0;
      right: 0;
      opacity: 1;
    }
